body {
  font-family: Arial, sans-serif;
  background-color: #a07fdd;
  padding: 2rem;
  color: #d30303;
}

h1 {
  color: #0e6411;
  text-align: center;
}

.user-card {
  background: rgb(191, 192, 104);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
